<!DOCTYPE html>
<html lang="en">
<head>
    <title>대장 History</title>
    <meta charset="UTF-8">
</head>

<body>
<h3>Company Result</h3>
<%if(mycompassets.length != 0) {%>
    <table>
        <tr>
            <th>Asset ID</th>
            <th>Transaction Type </th>
            <th>폐기물 코드</th>
            <th>폐기물 종류</th>
            <th>성상</th>
            <th>구분</th>
            <th>발생량</th>
            <th>배출량</th>
            <th>현재 보관량</th>
            <!--현재보관량 = 최초 보관량 + 발생량 - 배출량 -->
            <th>Timestamp</th>
            
        </tr>
        <% for(var i=(mycompassets).length-1; i>=0; i--){%>
            <tr>
            <td><%=mycompassets[i].asset_id%></td>
            <td><%=mycompassets[i].transaction_type%></td>
            <td><%=mycompassets[i].waste_code%></td>
            <td><%=mycompassets[i].waste_type%></td>
            <td><%=mycompassets[i].waste_state%></td>
            <td><%=mycompassets[i].waste_classify%></td>
            <td><%=mycompassets[i].gen_weight%></td>
            <td><%=mycompassets[i].handle_weight%></td>
            <td><%=mycompassets[i].save_weight%></td>
            <td><%=mycompassets[i].timestamp%></td>
        </tr>
        <%}%>
    </table>  
    <%} else{%>
        No History
    <%}%> 
</body>
</html>