<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/style/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/style/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="/style/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="/style/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/style/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="/style/style.css">
</head>

<body class="single-page causes-page">
    <style>
       /* The Modal (background) */
       .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 60%;
            text-align: justify;
            /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        select {
            width: 234px;
            /* 원하는 너비설정 */
            padding: .4em .4em;
            /* 여백으로 높이 설정 */
            font-family: inherit;
            /* 폰트 상속 */
            background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
            /* 네이티브 화살표 대체 */
            border: 1px solid #999;
            border-radius: 0px;
            /* iOS 둥근모서리 제거 */
            -webkit-appearance: none;
            /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
        }
    </style>
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="/" rel="home"><img class="d-block" src="/style/images/logo.png"
                                    alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="/">Home</a></li>
                                <li><a href="/notice">공지사항</a></li>
                                <li>
                                    <a id="myBtn" onclick="company_search()">기업 정보 조회</a> <br>
                                    <!-- The Modal -->
                                    <div id="myModal" class="modal">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <div>
                                                <span class="close">&times;</span>
                                                기업 이름:
                                                <input type="text" name="company_name">
                                                <button type="submit" onclick="get_search_result()">조회</button>
                                            </div>
                                            <div class="search_result"></div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="/logout">로그아웃</a></li>
                                <li><a href="/admin/register_company_list">회사 등록 요청</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->

                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>마이페이지</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="featured-cause">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2 class="entry-title">개인 정보 </h2>
                    </div><!-- .section-heading -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="cause-wrap d-flex flex-wrap justify-content-between">
                        <figure class="m-0">
                            <img src="/style/images/user.png" alt="" style="width: 200px ; height : 200px">
                        </figure>

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0">
                                    회원 정보</h3>
                                <p>
                                    <br>
                                    회원 이름 : <%=myinfo[0].user_name%> <br>
                                    아이디 : <%=myinfo[0].user_id%> <br>
                                    직업 종류 : <%=myinfo[0].user_type%> <br>
                                    연락처 : <%=myinfo[0].user_contact%> <br>
                                </p>
                        </div>
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->
                <div class="col-12 col-lg-6">
                    <div class="cause-wrap d-flex flex-wrap justify-content-between">
                        <figure class="m-0">
                            <img src="/style/images/factory.png" alt="" style="width: 200px ; height : 200px">
                        </figure>
                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0">회사 정보</h3>
                                <p>
                                    <br>
                                    회사 이름 : <%=mycompany[0].company_name%><br>
                                    회사 주소 : <%=mycompany[0].company_addr%><br>
                                    회사 연락처 : <%=mycompany[0].company_contact%><br>
                                    회사 종류 : <%=mycompany[0].company_type%><br>

                            </header><!-- .entry-header -->
                        </div><!-- .cause-content-wrap -->

                    </div><!-- .cause-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .featured-cause -->

    <div class="featured-cause">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2 class="entry-title">알람 </h2>
                    </div><!-- .section-heading -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="contact-page-wrap">
                <div class="container">

                    <br> <br>
                    <%if(alarms.length != 0) {%>
                    <%for (var i=0; i<alarms.length; i++){%>
                    <table class="w3-table-all" border="1px" cellpadding="15px">
                        <tr>
                            <th style="width:10%">티켓 아이디</th>
                            <th style="width:10%">마지막 날짜</th>
                            <th style="width:3%"> 삭제하기</th>
                        </tr>

                        <tr>
                            <td><%=alarms[i].ticket_id%></td>
                            <td><%=alarms[i].last_date%></td>
                            <td><form action = "/admin/delete_alarm" method="post">
                    <%=alarms[i].alarms_index%>
                                <input type="hidden" , name = "alarms_index", value="<%=alarms[i].alarms_index%>">
                                <input type="submit", value="X">
                            </form> </td>
                        </tr>
                    </table>
                    <%}%>
                <%}else{%>
                    알람 없음
                    <%}%>
                </div><!-- .container -->
            </div>
        </div>
        </div>                
        <footer class="site-footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="foot-about">
                                <h2><a class="foot-logo" href="#"><img src="/style/images/foot-logo.png" alt=""></a>
                                </h2>
    
                                <p>2019 에코톤 제품및 서비스 부문 출품작 <br>
                                    블록체인을 활용한 폐기물 처리 관리시스템<br>
                                    팀원 : 윤혜원, 최재은 <br>
                                </p>
    
                            </div>
                        </div>
    
                        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                            <h2>유관 기관 사이트</h2>
    
                            <ul>
                                <li><a href="http://www.me.go.kr/home/web/main.do">환경부</a></li>
                                <li><a href="http://www.keco.or.kr/kr/main/index.do">환국환경공단</a></li>
                                <li><a href="http://www.molit.go.kr/portal.do">국토교통부</a></li>
                                <li><a href="http://www.krihs.re.kr/">국토연구원</a></li>
                                <li><a href="https://www.koras.org/index.jsp">한국건설자원협회</a></li>
                                <li><a href="http://www.cwa.or.kr/">한국건설폐기물수집운반협회</a></li>
                                <li><a href="https://www.kict.re.kr/">한국건설기술연구원</a></li>
                            </ul>
                        </div><!-- .col -->
    
                        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                            <div class="foot-latest-news">
                                <a href="https://www.allbaro.or.kr/09_wsr/wsr_service.vm">
                                    <h2>서비스 이용약관</h2>
                                </a>
                                <br> <br>
                                <a href="http://www.keco.or.kr/kr/util/privacy1_1.do">
                                    <h2>개인정보처리방침</h2>
                                </a>
                            </div><!-- .foot-latest-news -->
                        </div><!-- .col -->
    
                        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                            <div class="foot-contact">
                                <h2>연락처 안내</h2>
    
                                <ul>
                                    <li>운영 시간 : 9:00 ~ 18:00 <br>
                                        단, 12:00 ~ 13:00 및 공휴일, 토요일은 <br>
                                        운영되지 않습니다</li>
                                    <li><i class="fa fa-phone"></i><span>1644-0007</span></li>
                                    <li><i class="fa fa-envelope"></i><span> 0505-822-7805</span></li>
                                    <li><i class="fa fa-map-marker"></i><span>(22689) 인천시 서구 환경로 42(경서동 종합환경연구단지)
                                        </span>
                                    </li>
                                </ul>
                            </div><!-- .foot-contact -->
    
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .footer-widgets -->
    
            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p class="m-0">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                This
                                template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div><!-- .col-12 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .footer-bar -->
        </footer><!-- .site-footer -->
    
        <!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
    // Get the modal
    function company_search() {
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    function get_search_result() {
        $.ajax({
            url: "/admin/search",
            method: "POST",
            data: {
                company_name: document.getElementsByName("company_name")[0].value,
            },
            dataType: "json",
            success: function (data) {
                if (data.success == true) {
                    console.log(data)
                    var result = data.results;
                    var html = '<table border="1px" cellpadding="20px"><tr><th>Company ID</th><th>Company Name</th><th>Company Address</th><th>Company Contact</th><th>Company Type</th><th>Company Material Type</th><th>submit</th></tr>'
                    for (var i = 0; i < result.length; i++) {
                        html += '<tr><td>' + result[i].company_id + '</td>'
                            + '<td>' + result[i].company_name + '</td>'
                            + '<td>' + result[i].company_addr + '</td>'
                            + '<td>' + result[i].company_contact + '</td>'
                            + '<td>' + result[i].company_type + '</td>'
                            + '<td>' + result[i].company_material_type + '</td>'
                            + '<td><form action=\"/admin/history\" method=\"post\">'
                            + '<input type="hidden" name="company_id" value="' + result[i].company_id + '">'
                            + '<button type="submit">선택</button></form></td></tr>'
                        //+ '<td><button id = "bnum'+i+'" onclick = "search_result('+result[i].company_id+')">선택</button> </form></td></tr>'
                    }
                    html += '</table>'
                    console.log(html)
                    var comp_list = $('.search_result')
                    comp_list.append(html)
                }
            }
        });
    }

    function search_result(company_id) {
        $.ajax({
            url: "/admin/history",
            method: "POST",
            data: {
                company_id: company_id
            },
            success: function (data) {
                if (data.success == true) {
                    window.location.href = data.redirect_url + data.results;
                }
            }
        });
    }

</script>
        <script type='text/javascript' src='/style/js/jquery.js'></script>
        <script type='text/javascript' src='/style/js/jquery.collapsible.min.js'></script>
        <script type='text/javascript' src='/style/js/swiper.min.js'></script>
        <script type='text/javascript' src='/style/js/jquery.countdown.min.js'></script>
        <script type='text/javascript' src='/style/js/circle-progress.min.js'></script>
        <script type='text/javascript' src='/style/js/jquery.countTo.min.js'></script>
        <script type='text/javascript' src='/style/js/jquery.barfiller.js'></script>
        <script type='text/javascript' src='/style/js/custom.js'></script>
        <script>
            var d = new Date();
        </script>
    </body>
    
    </html>