<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
    <meta charset="UTF-8">
</head>

<body>
<h1>My Page</h1>
<a href="/emitter/form">전자 인계서 작성하기</a>
<h3>My Info</h3>
    Name : <%=myinfo[0].user_name%> <br>
    ID : <%=myinfo[0].user_id%> <br>
    Job : <%=myinfo[0].user_type%> <br>
    Phone : <%=myinfo[0].user_contact%> <br>
    <h5>My Company</h5>
    Name : <%=mycompany[0].company_name%><br>
    Address : <%=mycompany[0].company_addr%><br>
    Contact : <%=mycompany[0].company_contact%><br>
    Type : <%=mycompany[0].company_type%><br>
    Material Type : <%=mycompany[0].company_material_type%><br>
</body>
</html>