<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
    <meta charset="UTF-8">
</head>

<body>
<h1>My Page</h1>
<a href="/">Home</a>
<a href="/logout">Logout</a>
<h3>My Info</h3>
Name : <%=myinfo[0].user_name%> <br>
ID : <%=myinfo[0].user_id%> <br>
Job : <%=myinfo[0].user_type%> <br>
Phone : <%=myinfo[0].user_contact%> <br>
<h5>My Company</h5>
Name : <%=mycompany[0].company_name%><br>
Address : <%=mycompany[0].company_addr%><br>
Contact : <%=mycompany[0].company_contact%><br>
Type : <%=mycompany[0].company_type%><br>
Material Type : <%=mycompany[0].company_material_type%><br>
<h5>My Tickets</h5>
<%for (var i=0; i<mytickets.length; i++){%>
    <form action="/conveyancer/complete_ticket" method="POST">
        Ticket ID: <%=mytickets[i].ticket_id%>
        Current Destination: <%=mytickets[i].currentdes%>
        Previous Destination: <%=mytickets[i].previousdes%>
        Weight :<%=mytickets[i].weight%>
        Transfer Date :<%=mytickets[i].transfer_date%>
        Giver ID:<%=mytickets[i].giver_id%>
        Giver Type :<%=mytickets[i].giver_type%>
        Receiver ID:<%=mytickets[i].reciever_id%>
        Receiver Type :<%=mytickets[i].reciever_type%>
        Conveyer ID : <%=mytickets[i].conveyer_id%>
        <input type="submit" value="Transfer Complete">
    </form>
<%}%>

</body>
</html>